@import 'reset';
@import 'variables';

/*---------------------------------------------
[$mixins]

This is a section about mixins.
----------------------------------------------*/

@mixin heading-size($size) {
    h1,h2,h3,h4,h5,h6 {
        font-size: $size;
    }
}

/*---------------------------------------------
// ENDS [mixins]
----------------------------------------------*/


/*---------------------------------------------
[$universal]
----------------------------------------------*/

body {
    color: $site-background;
    font: 1em $font-family;
}

@include heading-size(2em);

/*---------------------------------------------
// ENDS [universal]
----------------------------------------------*/


/*---------------------------------------------
[$nesting]

This is a section about nesting.
----------------------------------------------*/

.nesting {
    @include heading-size(1.5em);

    h1 {
        color: black;

        strong {
            color: red;
        }
    }
}

/*---------------------------------------------
// ENDS [nesting]
----------------------------------------------*/


/*---------------------------------------------
[$extends]
----------------------------------------------*/

%button {
    border: 1px solid black;
    background: red;
    color: white;
}

.nesting-alt {
    @extend .nesting;

    background: black;

    @extend %button;
}

/*---------------------------------------------
// ENDS [extends]
----------------------------------------------*/


/*---------------------------------------------
[$operators]

Lets us add and subtract things!
----------------------------------------------*/

$width: 100%;

.container {
    width: $width;
}

.grid-item {
    width: $width/12;
}

.grid-item-half {
    width: $width/2;
}

/*---------------------------------------------
// ENDS [operators]
----------------------------------------------*/
