/*---------------------------------------------
[$reset]
----------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/*---------------------------------------------
// ENDS [reset]
----------------------------------------------*/
/*---------------------------------------------
[$mixins]

This is a section about mixins.
----------------------------------------------*/
/*---------------------------------------------
// ENDS [mixins]
----------------------------------------------*/
/*---------------------------------------------
[$universal]
----------------------------------------------*/
body { color: #000; font-family: 1em Arial, Helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6 { font-size: 2em; }

/*---------------------------------------------
// ENDS [universal]
----------------------------------------------*/
/*---------------------------------------------
[$nesting]

This is a section about nesting.
----------------------------------------------*/
.nesting h1, .nesting-alt h1, .nesting h2, .nesting-alt h2, .nesting h3, .nesting-alt h3, .nesting h4, .nesting-alt h4, .nesting h5, .nesting-alt h5, .nesting h6, .nesting-alt h6 { font-size: 1.5em; }
.nesting h1, .nesting-alt h1 { color: black; }
.nesting h1 strong, .nesting-alt h1 strong { color: red; }

/*---------------------------------------------
// ENDS [nesting]
----------------------------------------------*/
/*---------------------------------------------
[$extends]
----------------------------------------------*/
.nesting-alt { border: 1px solid black; background: red; color: white; }

.nesting-alt { background: black; }

/*---------------------------------------------
// ENDS [extends]
----------------------------------------------*/
/*---------------------------------------------
[$operators]

Lets us add and subtract things!
----------------------------------------------*/
.container { width: 100%; }

.grid-item { width: 8.3333333333%; }

.grid-item-half { width: 50%; }

/*---------------------------------------------
// ENDS [operators]
----------------------------------------------*/

/*# sourceMappingURL=screen.css.map */
